{% extends 'base.html' %}
{% block title %}notes{% endblock %}
{% block content %}
	{% include '_topbar.html' %}
	<div class="container">
		<div class="row justify-content-center mb-2">
			<h1>Save Successful</h1>
		</div>
		<div class="row justify-content-center mb-2"></div>
			<div id='scheduling-section'>
				<h5>Title: {{appt.title}}</h5>
				
				<form action='/notes/{{appt.id}}/update' method='POST'>
						{% include '_notesform.html' %}
						<div class="row justify-content-center mb-2">
							<button class="btn btn-success" id='search-appt-btn'>Update</button>
						</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}
