{% extends 'base.html' %}
{% block title %}Schedule{% endblock %}
{% block content %}
    <div class="container border">
        <div class="row align-items-center text-center">
                {% include '_topbar.html' %}
        </div>
    </div>

  <div class="container-fluid">

      <form action="/schedule/add" method='POST'>
        {% include '_scheduleform.html' %}
        <div class="row justify-content-center mb-2">
          <button class="btn btn-success">Submit</button>
        </div>
      </form>
      <div class="row justify-content-center">
          <!-- iframe of calendar here -->
      </div>
  </div> 

{% endblock %}
