{% extends 'base.html' %}
{% block title %}Search Clients{% endblock %}
{% block content %}
    {% include '_topbar.html' %}
    <div class="row justify-content-center">
        <div class="col">
            <div id='scheduling-section'>
                <ul id='search-client-section'>
                </ul>
                <input type='text' id='search-client' placeholder='search client name'>
                <button id='search-client-btn'>search</button>
            </div>
        </div>
    </div>
{% endblock %}