<div class="container border">
    <div class="row align-items-center text-center">
        <div class="container">
        <ul class="nav justify-content-end my-3">
            <li class="nav-item">
            <a class="nav-link" href="/">home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/users/logout">logout</a>
            </li>
        </ul>

        <div class="btn-group my-3" role="group" aria-label="Basic example">
            <a class='schedule-route btn btn-primary' href='/schedule/add'>Schedule</a>
            <a class='reschedule-route btn btn-secondary' href='/reschedule/search'>Reschedule</a>
        </div>
        </div>
    </div>
</div>