{% extends 'base.html' %}
{% block title %}Reschedule{% endblock %}
{% block content %}
    {% include '_topbar.html' %}
    <div id='rescheduling-section'>
        <form action='/reschedule/update' method='POST'>
            {% include '_forms.html' %}
            <button>Reschedule</button>
        </form>
    </div>
    <iframe src='https://teamup.com/ksxeh1e9c983hrknq5?showLogo=0&showSearch=0&showProfileAndInfo=0&showSidepanel=1&showTitle=0&showAgendaHeader=1&showAgendaDetails=0&showYearViewHeader=1' style='width: 100%; height: 800px; border: 1px solid #cccccc' frameborder='0' />

{% endblock %}
